@import "_syntax";
@import "_gridism";

/* Variables */
$background: #f4efe2 url("../images/glitch.png") repeat-x left -340px;
$header-colour: #00b2ff;

$link-colour: #324272;
$link-colour-dark: $link-colour; // $link-colour - #111111;

$font-colour: #29646f;

$selection_color: #f5f5f5;
$selection_bg_color: #0f5fff;

body {
  font-family: Consolas, "Liberation Mono", Monaco, Courier, monospace;
  background: $background;
  color: $font-colour;
  font-size: 2em;
}

a {
  color: $link-colour;
  text-decoration: none;
  &:hover { text-decoration: underline; }
  &:visited { color: $link-colour-dark; }
}

.site-title {
  color: $header-colour;
}

.sidebar {
  font-size: 0.75em;
}

pre {
  padding: 1em;
  font-family: Consolas, "Liberation Mono", Monaco, Courier, monospace;
  font-size: 1.25em;
}

blockquote {
  margin: 0.5em;
  padding: 5px 0 5px 3%;
  color: #444;
  border-left: 3px #ccc solid;
}

img {
  width: 100%;
}

.site-name {
  font-size: 2.5em;
  font-family: Arial, sans-serif;
  font-weight: bold;
  margin: .5em 0 .25em;
  display: block;
}
