---
layout: default
---


  <!-- begin content -->
  <div class="unit two-thirds post-external-link">
    <h1>
      {% if page.external-url %}
      <a href="{{ page.external-url }}" target="_blank">{{ page.title }} &rarr;</a>
      {% endif %}
    </h1>
    <div class="link-description">
    {{ content }}
    </div>
  </div>
  <!-- end content -->

  <!-- begin sidebar -->
  <div class="unit one-third sidebar">
    <p>
      {% if page.mirror %}
      <a href="/mirrors/{{ page.mirror }}">Mirror</a>
      {% endif %}
    </p>

    <p><a href="/">&larr; Go back to list</a></p>

    <p>Found a problem?
       <a href="http://prose.io/#parkr/webdev/edit/gh-pages/{{ page.path }}">
         Fix it. &rarr;
       </a>
    </p>
  </div>
  <!-- end sidebar -->
